body {
  font-family: 'Open Sans', sans-serif;
  height: 300vh;
}
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

@media (min-width: 3440px) {
  .background {
    width: 100%;
  }
}

@media (min-height: 1440px) {
  .background {
    height: 100%;
  }
}

nav h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}
